body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #fdb153;
    color: #ffffff;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.highlight {
    color: bisque;
}

.section{
    background-color: #ff8c00;
    padding: 20px;
    margin-bottom: 40px;
}

table{
    width: 100%;
        border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

th{
    background-color: burlywood;
    color: white;
}

a {

    color: #0077cc;
    
    text-decoration: none;
    
    }
    
a:hover {
    
    text-decoration: underline;
    
}

footer {

    text-align: center;
    
    margin-top: 40px;
    
    font-size: 14px;
    
    color: gray;
    
}

